# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
**/wp-admin/
**/wp-content/index.php
**/wp-content/languages
**/wp-content/plugins/index.php
**/wp-content/themes/index.php
**/wp-includes/
**/wp-*.php
src/index.php
src/license.txt
src/readme.html
src/xmlrpc.php

# Configuration
**/wp-config.php

# Example themes
**/wp-content/themes/twenty*/

# Example plugin
**/wp-content/plugins/hello.php

# Uploads
**/wp-content/uploads/

# Log files
**/*.log

# htaccess
**/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/src/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/src/wp-content/themes

/docker/volumes
/docker/.env
**vendor/
**/wp-content/upgrade
/resources
**/node_modules
**/*-backups/